# Ignore all CSV files (your datasets)
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
